<div class="file-upload">
    <span *ngFor="let fileName of fileNames">{{ fileName + ' '|| "No photos uploaded yet..." }}</span>
    <button mat-raised-button color="primary" (click)="fileUpload.click()"><fa-icon [icon]="faUpload" class="me-2"></fa-icon> Choose File</button>
    <input #fileUpload (change)="onFileSelected($event)" type='file' style="display:none" accept="image/jpeg, image/jpg, image/heic" multiple />
</div>
<div class="progress" *ngIf="uploadProgress !== 0">
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress">
    </mat-progress-bar>
    <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">delete_forever</mat-icon>
</div>