<div class="breeder-onboarding" @fadeIn>
  <h1 class="mat-display-2">Breeder Onboarding</h1>
  <p>Fill out the form to register as a breeder</p>
  <mat-stepper class="flex-fill" orientation="vertical" [linear]="false" #stepper>
    <mat-step [stepControl]="breederOnboardingFormGroup1">
      <form [formGroup]="breederOnboardingFormGroup1">
        <ng-template matStepLabel>Business Details</ng-template>
        <!-- full name -->
        <mat-form-field appearance="fill">
          <mat-label>Your Full Name</mat-label>
          <input matInput formControlName="fullName">
          <mat-error matErrorMessages fieldLabel='Full name'></mat-error>
        </mat-form-field>
        <!-- business name -->
        <mat-form-field appearance="fill">
          <mat-label>Your Business Name</mat-label>
          <input matInput formControlName="businessName">
          <mat-error matErrorMessages fieldLabel='Business name'></mat-error>
        </mat-form-field>
        <!-- handle -->
        <mat-form-field appearance="fill">
          <mat-label>Handle (your unique identifier)</mat-label>
          <input matInput formControlName="handle">
          <span matPrefix>@&nbsp;</span>
          <mat-error *ngIf="handle.errors?.required">
            Handle is required
          </mat-error>
          <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
            Handle length must be between 5 and 28 characters.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-flat-button color="primary" matStepperNext>Next →</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="breederOnboardingFormGroup2">
      <form [formGroup]="breederOnboardingFormGroup2">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <!-- address -->
        <div formGroupName="address">
          <h2>Address</h2>
            <!-- street -->
            <mat-form-field appearance="fill">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street">
              <mat-error *ngIf="handle.errors?.required">
                Handle is required
              </mat-error>
              <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
                Handle length must be between 5 and 28 characters.
              </mat-error>
            </mat-form-field>
            <div class="row">
              <!-- city -->
              <div class="col-sm-4">
                <mat-form-field appearance="fill">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city">
                  <mat-error *ngIf="handle.errors?.required">
                    Handle is required
                  </mat-error>
                  <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
                    Handle length must be between 5 and 28 characters.
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- state -->
              <div class="col-sm-4">
                <mat-form-field appearance="fill">
                  <mat-label>State</mat-label>
                  <input matInput formControlName="state">
                  <mat-error *ngIf="handle.errors?.required">
                    Handle is required
                  </mat-error>
                  <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
                    Handle length must be between 5 and 28 characters.
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- zip -->
              <div class="col-sm-4">
                <mat-form-field appearance="fill">
                  <mat-label>Zip</mat-label>
                  <input matInput formControlName="zip">
                  <mat-error *ngIf="handle.errors?.required">
                    Handle is required
                  </mat-error>
                  <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
                    Handle length must be between 5 and 28 characters.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        <!-- email -->
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" placeholder="pat@example.com">
          <mat-error *ngIf="handle.errors?.required">
            Handle is required
          </mat-error>
          <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
            Handle length must be between 5 and 28 characters.
          </mat-error>
        </mat-form-field>
        <!-- phone -->
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" placeholder="pat@example.com">
          <mat-error *ngIf="handle.errors?.required">
            Handle is required
          </mat-error>
          <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
            Handle length must be between 5 and 28 characters.
          </mat-error>
        </mat-form-field>
        <!-- password -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="passwordHide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="handle.errors?.required">
            Handle is required
          </mat-error>
          <mat-error *ngIf="handle.errors?.minlength || handle.errors?.maxlength">
            Handle length must be between 5 and 28 characters.
          </mat-error>
        </mat-form-field>  
        <div>
          <a routerLink="/onboarding"><button mat-flat-button color="primary" class="me-2" matStepperPrevious>← Back</button></a>
          <button mat-flat-button color="primary" matStepperNext>Next →</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-flat-button color="primary" class="me-2" matStepperPrevious>← Back</button>
        <button mat-flat-button color="primary" class="me-2" (click)="stepper.reset()">Reset</button>
        <button mat-flat-button color="primary" type="Submit">Submit</button>
      </div>
    </mat-step>
  </mat-stepper>
  <button mat-flat-button color="primary" routerLink="/onboarding" class="mt-3">← Back</button>
</div>