@use '~@angular/material' as mat;

@import '../../palette.scss';

// $my-theme: mat-palette($mat-green);

.onboarding-toggle{
    width:100%;
    justify-content: space-evenly;
}

.onboarding-toggle mat-button-toggle{
    display:block;
    min-width:20vw;
    width:33.33%;
}

.mat-button-toggle-checked{
    background-color:mat.get-color-from-palette($my-palette, 600);
    color:mat.get-color-from-palette($my-palette, 50);
}