<div class="litter" @fadeIn>
    <h1 class="mat-display-1 mt-5">
        {{ (litter$ | async)?.name }}
    </h1>
    <small>{{ (litter$ | async)?.breed }}</small>
    <p>Dam: {{ (dam$ | async)?.name }}</p>
    <p>Sire: {{ (sire$ | async)?.name }}</p>
    <p>Generation: {{ (litter$ | async)?.generation }}</p>
    <p>Date of birth: {{ (litter$ | async)?.dob }}</p>
    <p>Notes: {{ (litter$ | async)?.notes }}</p>
    <div class="col-md-5">
        <carousel [cellWidth]="'100%'" [autoplay]="true" [loop]="true" [dots]="true">
            <div class="carousel-cell" *ngFor="let photo of (litter$ | async)?.photos">
                <img src="{{ photo }}">
            </div>
        </carousel>
    </div>
    <div class="puppies">
        <p *ngFor="let puppy of (puppies$ | async)">
            {{ puppy.name }}
        </p>
    </div>
</div>
<button mat-fab color="primary" aria-label="Add litter icon" (click)="addLitter()">
    <mat-icon>add</mat-icon>
</button>
<button mat-fab color="primary" aria-label="Delete litter icon" (click)="deleteLitter()">
    <mat-icon>delete</mat-icon>
</button>