<div class="litter" @fadeIn>
    <h2 class="headline-2 mt-5">
        {{ (litter$ | async)?.name | titlecase }}
        <small>Litter of {{ (litter$ | async)?.breed | titlecase }}s</small>
        <button mat-mini-fab class="float-end" color="primary" aria-label="Delete dog icon" (click)="deleteLitter()">
            <mat-icon>delete</mat-icon>
        </button>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="photos">
                <img [src]="imagePath" *ngIf="imagePath !== ''">
            </div>
        </div>
        <div class="col-md-8">
            <p>Dam: {{ (dam$ | async)?.name }}</p>
            <p>Sire: {{ (sire$ | async)?.name }}</p>
            <p>Generation: {{ (litter$ | async)?.generation }}</p>
            <p>Date of birth: {{ (litter$ | async)?.dob }}</p>
            <p>Notes: {{ (litter$ | async)?.notes }}</p>
        </div>
    </div>
    <h2 class="headline-2 mt-5">Parents</h2>
    <div class="row parents">
        <div class="col-md-6">
            <app-single-dog [dog]="(dam$ | async)!"></app-single-dog>
        </div>
        <div class="col-md-6">
            <app-single-dog [dog]="(sire$ | async)!"></app-single-dog>
        </div>
    </div>
    <h2 class="headline-2 mt-5">
        Puppies from this litter
        <button mat-mini-fab class="float-end" color="primary" aria-label="Add litter icon" (click)="addPuppiesToLitter()">
            <mat-icon>add</mat-icon>
        </button>
    </h2>
    <div class="row puppies mb-5">
        <div class="col-md-6" *ngFor="let puppy of (puppies$ | async)">
            <app-single-dog [dog]="puppy"></app-single-dog>
        </div>
    </div>
</div>