<div class="row" [@fade]="!fadeOutNotification">
    <hr>
    <div class="col-10">
        <span class="notification-title">{{ notification?.title }}</span> - <small>{{ notification?.dateCreated | date }}</small>
        <p>{{ notification?.body }}</p>
    </div>
    <div class="col-2">
        <button mat-icon-button class="float-end" aria-label="Clear this notification" color="warn" (click)="deleteNotification(notification?.id)">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
