<div class="all-dogs mt-5" @fadeIn>
    <div class="row">
        <div class="col-10">
            <h1 class="mat-display-2">All dogs in your kennel</h1>
        </div>
        <div class="col-2">
            <button class="float-end" mat-fab color="primary" aria-label="Add dog icon" (click)="addDogDialog('puppy')">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <h2 class="headline-2 mt-4">Puppies</h2>
    <mat-spinner *ngIf="(dogs$ | async)?.length === 0 && (loadingDogs$ | async) === true"></mat-spinner>
    <p *ngIf="(dogs$ | async)?.length === 0" class="mb-5">No Puppies added yet... <a>add one</a></p>
    <div class="row">
        <div class="col-md-6" *ngFor="let puppy of puppies">
            <app-single-dog [dog]="puppy"></app-single-dog>
        </div>
    </div>
    <h2 class="headline-2 mt-4">Dams</h2>
    <mat-spinner *ngIf="(dogs$ | async)?.length === 0 && (loadingDogs$ | async) === true"></mat-spinner>
    <p *ngIf="(dogs$ | async)?.length === 0" class="mb-5">No Dams added yet... <a>add one</a></p>
    <div class="row">
        <div class="col-md-6" *ngFor="let dam of dams">
            <app-single-dog [dog]="dam"></app-single-dog>
        </div>
    </div>
    <h2 class="headline-2 mt-4">Sires</h2>
    <mat-spinner *ngIf="(dogs$ | async)?.length === 0 && (loadingDogs$ | async) === true"></mat-spinner>
    <p *ngIf="(dogs$ | async)?.length === 0" class="mb-5">No Sires added yet... <a>add one</a></p>
    <div class="row">
        <div class="col-md-6" *ngFor="let sire of sires">
            <app-single-dog [dog]="sire"></app-single-dog>
        </div>
    </div>
</div>
