@use '~@angular/material' as mat;

/*
 * Color Palettes
 */
@import '../../palette.scss';

.dog{
    padding:20px;
    margin-bottom:20px;
    border:1px solid mat.get-color-from-palette($my-palette, 700);
}