<div class="dog" @fadeIn>
    <h2 class="headline-2 mt-5">
        {{ (dog$ | async)?.name }}'s Chart
    </h2>
    <div class="photos">
        <img [src]="imagePath" *ngIf="imagePath !== ''">
    </div>
    <!-- DAM -->
    <div class="dam" *ngIf="dogType === 'dam'">
        <p>Dam breed: {{ dam?.breed }}</p>
        <p>Heat length: {{ dam?.heat?.lengthInDays }}</p>
        <h2>Temp readings</h2>
        <p *ngFor="let task of (tasks$ | async)">
            Task name: {{ task?.name }}
        </p>
    </div>
    <!-- SIRE -->
    <div class="sire" *ngIf="dogType === 'sire'">
        <p>This is a sire?</p>
    </div>
    <!-- PUPPY -->
    <div class="puppy" *ngIf="dogType === 'puppy'">
        <p>Sex: {{ puppy?.sex }}</p>
    </div>
</div>
<h1>Health Charts</h1>
<app-chart [data]="multi"></app-chart>
<!-- <button mat-fab color="primary" aria-label="Add litter icon" (click)="addLitter()">
    <mat-icon>add</mat-icon>
</button>
<button mat-fab color="primary" aria-label="Delete litter icon" (click)="deleteLitter()">
    <mat-icon>delete</mat-icon>
</button> -->