<mat-dialog-content>
<div class="add-dog" @fadeIn>
    <div class="add-dog-form">
        <h1 class="headline">Add a new dog</h1>
        <p>Enter the details of the new dog you want to add</p>
        <form [formGroup]="addDogForm">
        <mat-form-field>
            <mat-label>Dog Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type">
                {{ type | titlecase }}
                </mat-option>
            </mat-select>
            <mat-error matErrorMessages fieldLabel='Dog type'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error matErrorMessages fieldLabel='Name'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sex</mat-label>
            <mat-select formControlName="sex">
                <mat-option value="male"><fa-icon [icon]="faMars" class="me-2"></fa-icon>Male</mat-option>
                <mat-option value="female"><fa-icon [icon]="faVenus" class="me-2"></fa-icon>Female</mat-option>
            </mat-select>
            <mat-error matErrorMessages fieldLabel='Sex'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Breed</mat-label>
            <mat-select formControlName="breed">
                <mat-option *ngFor="let breedValue of breeds" [value]="breedValue">
                {{ breedValue | titlecase }}
                </mat-option>
            </mat-select>
            <mat-error matErrorMessages fieldLabel='Breed'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Generation</mat-label>
            <input matInput formControlName="generation">
            <mat-error matErrorMessages fieldLabel='Generation'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput formControlName="dob" [matDatepicker]="dob">
            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
            <mat-error matErrorMessages fieldLabel='Date of birth'></mat-error>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Color</mat-label>
            <input matInput formControlName="color">
            <mat-error matErrorMessages fieldLabel='Color'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Weight</mat-label>
            <input matInput formControlName="weight">
            <mat-error matErrorMessages fieldLabel='Weight'></mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Microchip</mat-label>
            <input matInput formControlName="microchip">
            <mat-error matErrorMessages fieldLabel='Microchip'></mat-error>
        </mat-form-field>
        <div class="mb-2">
            <label>Photos</label><br />
            <button mat-raised-button color="primary" (click)="uploadFile.click()"><fa-icon [icon]="faUpload" class="me-2"></fa-icon> Choose File</button>
            <input #uploadFile (change)="uploadPhotos($event)" type='file' style="display:none" />
        </div>
        <div>
            <button mat-stroked-button color="basic" mat-dialog-close>Cancel</button>
            <button mat-flat-button color="primary" class="float-end"><fa-icon [icon]="faPlus" class="me-2"></fa-icon> Add New Dog</button>
        </div>
        </form>
    </div>
    <button class="close-dialog" mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
</mat-dialog-content>