<div class="row">
    <mat-sidenav-container class="sidenav">
        <mat-sidenav #sidenav [mode]="$any(mode)" [opened]="opened" fixedInViewport>
            <app-profile></app-profile>
            <a class="sidenav-nav-item" routerLink="/dashboard" routerLinkActive="is-active">
                <mat-icon svgIcon="paw" aria-hidden="false" aria-label="Dashboard navigation icon"></mat-icon>
                Dashboard
            </a>
            <a class="sidenav-nav-item" routerLink="/litters" routerLinkActive="is-active">
                <mat-icon svgIcon="dog-house" aria-hidden="false" aria-label="Litters navigation icon"></mat-icon>
                Litters
            </a>
            <a class="sidenav-nav-item" routerLink="/dogs" routerLinkActive="is-active">
                <mat-icon svgIcon="dog" aria-hidden="false" aria-label="Dogs navigation icon"></mat-icon>
                Dogs
            </a>
            <a class="sidenav-nav-item" routerLink="/tasks" routerLinkActive="is-active">
                <mat-icon svgIcon="task" aria-hidden="false" aria-label="Tasks navigation icon"></mat-icon>
                Tasks
            </a>
            <a class="sidenav-nav-item" routerLink="/contacts" routerLinkActive="is-active">
                <mat-icon svgIcon="contact" aria-hidden="false" aria-label="Contacts navigation icon"></mat-icon>
                Contacts
            </a>
            <a class="sidenav-nav-item" routerLink="/reports" routerLinkActive="is-active">
                <mat-icon svgIcon="report" aria-hidden="false" aria-label="Reports navigation icon"></mat-icon>
                Reports
            </a>
            <a class="sidenav-nav-item" routerLink="/messages" routerLinkActive="is-active">
                <mat-icon svgIcon="message" aria-hidden="false" aria-label="Messages navigation icon"></mat-icon>
                Messages
            </a>
            <a class="sidenav-nav-item" routerLink="/settings" routerLinkActive="is-active">
                <mat-icon svgIcon="setting" aria-hidden="false" aria-label="Settings navigation icon"></mat-icon>
                Settings
            </a>
            <!-- <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Litters
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion> -->
        </mat-sidenav>
        <section>
        <!-- <img src="../../assets/hero.jpg" style="width:100%;"> -->
        <div class="container-fluid">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
        </section>
    </mat-sidenav-container>
</div>